<div class="container">
    <button (click)="addStudent()" mat-flat-button color="primary">Agregar alumno</button>

    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id. </th>
            <td mat-cell *matCellDef="let student"> {{student.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let student"> {{student.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let student"> {{student.lastName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="sexo">
            <th mat-header-cell *matHeaderCellDef> sexo </th>
            <td mat-cell *matCellDef="let student"> {{student.sexo}} </td>
        </ng-container>

        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> nota </th>
            <td mat-cell *matCellDef="let student"> {{student.note}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Nombre - Apellido - Calificacion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div *ngFor="let alumno of student">
                        {{alumno | students}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>