<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-style: Georgia; color: #fff; font-size:50px;">SOBRE EL PROYECTO</h1>
        <b>CoderHouse-Angular</b>
        <h2>Administración de Alumnos y Cursos</h2>
        <h3 >Creación de un proyecto frontend basado en Angular para gestionar los asistentes a una serie de cursos
            Deberá contener el perfil de administrador, el cual podrá listar, realizar altas y bajas de los alumnos,
            cursos e inscripciones y modificar sus datos. También podrá crear y modificar usuarios
            El perfil usuario podrá listar los alumnos y los cursos, pero sí podrá agregar o eliminar inscripciones de
            alumnos a los cursos. No podrá realizar ninguna operación sobre los usuarios
        </h3>
        <h2>Academy : CODERHOUSE</h2>
        <h1>Teach & tutor</h1>
        <h2>Teach: Geovanni Sanchez</h2>
        <h2>Comisión: 32330.</h2>
        <h2>Tutor: Lautaro Garcia.</h2>
    </div>
</div>