<section>
    <nav>
        <div class="logo">
            <h3>A<span>PP</span>S<span>tudiantes</span></h3>
        </div>
        <ul>
            <li><a routerLink="App/home">
                    <div class="liquid"></div>Home
                </a></li>
            <li><a routerLink="dashboard">
                    <div class="liquid"></div>Dashboard
                </a></li>
            <li><a routerLink="App/about">
                    <div class="liquid"></div>About
                </a></li>
            <li><a routerLink="sessions/login">
                    <div class="liquid"></div>Login
                </a></li>
        </ul>
    </nav>
</section>