<section>
    <nav>
        <div class="logo">
            <h3>A<span>PP</span>S<span>tudiantes</span></h3>
        </div>
        <ul>
            <li><a routerLink="App/home">
                    <div class="liquid"></div>Home
                </a></li>
            <li><a routerLink="sessions/login">
                    <div class="liquid"></div>Login
                </a></li>
            <li><a routerLink="/alumnos">
                    <div class="liquid"></div>Alumnos
                </a></li>
            <li><a routerLink="/public">
                    <div class="liquid"></div>Cursos
                </a></li>
            <li><a routerLink="/cursos/api">
                    <div class="liquid"></div>CursosApi
                </a></li>
        </ul>
    </nav>
</section>