<div class="container">
    <a mat-flat-button color="primary" routerLink="agregar">Agregar Cursos</a>
    <div class="center filtro">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off" placeholder="">
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id. </th>
            <td mat-cell *matCellDef="let course"> {{course.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Curso </th>
            <td mat-cell *matCellDef="let course"> {{course.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="teacher">
            <th mat-header-cell *matHeaderCellDef> Profesor </th>
            <td mat-cell *matCellDef="let course"> {{course.teacher}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let course"> {{course.code}} </td>
        </ng-container>

        <ng-container matColumnDef="initiation">
            <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
            <td mat-cell *matCellDef="let course"> {{course.initiation | date:'dd-mm-yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="finish">
            <th mat-header-cell *matHeaderCellDef> Fin de Cursada </th>
            <td mat-cell *matCellDef="let course"> {{course.finish | date:'dd-mm-yyyy'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
</div>
