<mat-nav-list>
    <div class="logo py-4">
        <img src="https://res.cloudinary.com/hdsqazxtw/image/upload/f_auto/v1579032128/coder-logo-white_t41xzb.png"
            alt="">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">AppStudiantes</h2>
    <a mat-list-item routerLink="/login/dashboard" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>
        Dashboard</a>
    <a mat-list-item routerLink="/login/dashboard/alumnos" routerLinkActive="list-item-active">
        <mat-icon>person</mat-icon>
        Alumnos</a>
    <a mat-list-item routerLink="/login/dashboard/agregar" routerLinkActive="list-item-active">
        <mat-icon>person_add</mat-icon> Alumnos</a>
    <a mat-list-item routerLink="/login/dashboard/cursos" routerLinkActive="list-item-active">
        <mat-icon>collections_bookmark</mat-icon>
        Cursos</a>
    <a mat-list-item routerLink="/login/dashboard/agregarCurso" routerLinkActive="list-item-active">
        <mat-icon>library_add</mat-icon>
        Cursos</a>
    <a mat-list-item routerLink="" routerLinkActive="list-item-active"> <mat-icon>group_add</mat-icon> Inscripcion</a>
</mat-nav-list>